.root{
    border:"none";
    max-width: 345;
    justify-content: center;
      text-align:"center";
      align-items:"center";
      
     
}
.root:hover{
    border:"1px solid #eee";
    box-shadow:" 0px 15px 15px 2px lightGrey ";
    background:"offWhite";
}
.img{
    height: "40vh";
}
.cat{
    text-align: "center";
    font-weight: 400;
    font-size: "11px";
    font-family: "Open Sans,sans-serif";
    line-height: 1.7;
    opacity: 0.8;
    text-transform: "uppercase";
    text-overflow: "ellipsis";
    overflow: "hidden";
    white-space: "nowrap";
}
.title{
    max-width: "100%";
    font-weight: 400;
    font-size: "1rem";
    font-family: "Poppins,sans-serif";
    line-height: 1.35;
    letter-spacing: "0.005em";
    margin-bottom:"0.4rem";
    text-overflow: "ellipsis";
    overflow: "hidden";
}
.price{
    font-weight: 600;
    font-size: "1.3rem";
    font-family: "Poppins,sans-serif";
    line-height: 1.35;
    letter-spacing: "0.005em";
    margin-bottom:"0.4rem";
    text-overflow: "ellipsis";
    overflow: "hidden";

}
.btn{
    font-family: "Poppins,sans-serif";
    line-height: 1.35;
    letter-spacing: "0.005em";
    margin-bottom:"0.4rem"; 
    text-overflow: "ellipsis";
    overflow: "hidden";
    background: "#0A5995";
  color: "white";
  text-transform:"none";
  padding-left:"15px";
  padding-right:"15px";
}
.btn:hover{
    background: "black";
    color: "#fff";
}
.css-46bh2p-MuiCardContent-root{
    text-align: left;
}